@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #000;
}

s{
    text-decoration:line-through;
}


h5.card-title-short{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 18px;
    font-weight:bold;
}

.card-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 12px;
}

span.price{
    font-size: 20px;
}

i.fa-star{
    color: #FFB000;
}

button.sepet{
    font-size: 18px;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
    &:hover{
        background-color: #FFB000;
        color: #fff;
    }
}

a button.bell{
    font-size: 18px;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
    &:hover{
        border: 1px solid #000;
    }
}

.badge{
    font-size: 10px;
}

a.card-fix img{
    transition: scale .2s ease-in-out;
    &:hover{
        scale: 1.05;
    }
}

.register {
    font-size: 14px;
}

span.detais-price{
    font-size: 24px;
}

.add-btn{
    justify-content: right;
}


.similar-products {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 15px; 
}

.similar-products .card {
    flex: 0 0 auto; /* Don't grow or shrink the cards */
    margin-right: 15px; /* Add some space between cards */
}

/* Kaydırma çubuğu özelleştirmesi */
::-webkit-scrollbar {
    width:5px; /* Genişlik */
    height:4px ;
}

::-webkit-scrollbar-thumb {
    background-color: orange; /* Kaydırma çubuğu rengi */
    border-radius: 2px; /* Kenar yarıçapı */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Kaydırma çubuğu yolu rengi */
}

.social-link{

    transition: letter-spacing .2s ease-in-out;
}

.social-link:hover{
    letter-spacing: 1px;
}

.footer-text{
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: lowercase;
    font-weight: bold;
}

.accordion-button:not(.collapsed){
    background-color: transparent;
}

.parcalar {
    height: 110px;
}

.parcalar-img{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        width: 50%;
    }
    height: 100%;
}

.parcalar-title{
    width: 80%;
    height: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-box{
    overflow: hidden;
    -webkit-box-shadow: 9px 6px 31px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 9px 6px 31px 0px rgba(0,0,0,0.26);
    box-shadow: 9px 6px 31px 0px rgba(0,0,0,0.26);
    
}
.banner-box{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 2px solid #eee;
    & img{
        width: 100%;
        display: block;
        overflow: hidden;
        height: auto;
    }
}

.profile-photo{
    position: static;
    margin-top: -80px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
    box-sizing: content-box;
    z-index: 1;
    & img{
        border: 5px solid white;
        box-sizing: content-box;
        background-color: #fff;
        border-radius: 100%;
        overflow: hidden;   
        width: 150px;
        height: 150px;
        
    }
}

.user-detais{
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position:static;
    & h2{
        width: 500px;
        font-style: italic;
    }
}


/* Profile Page */

a.profile-menu {
    color: #424769;
}




.form-label{
    font-size: 14px;
    padding: 0 15px;
    text-align: left;
    font-weight: 600;
}

.profile_photo_plus{
    position:absolute;
    margin-top: -60px;
    margin-left: 130px;
    background-color: #525CEB;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    & span{
        color: white;
    font-size: 35px;
    }
}

.profile_banner_plus{
    position:absolute;
    margin-top: 0;
    top: 22em;
    left: 63em;
    margin-left: 130px;
    background-color: green;
    border-radius: 50px;
    display: flex;
    border:3px solid white;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    z-index:99;
    cursor: pointer;
    & span{
        color: white;
    font-size: 45px;
    }
}





@media (max-width: 700px){
    /* Styles for screens up to 700px width */

    .profile-photo {
        position: static;
        margin-top: -165px;
        display: flex;
        margin-left: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;

        & img {
            border-width: 2px;
            width: 150px;
            height: 150px;
        }
        text-align: center;
    }

    .profile_photo_plus {
        position: absolute;
        margin-top: -60px;
        background-color: #525CEB;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;

        & span {
            color: white;
            font-size: 35px;
        }
    }

    .profile_banner_plus {
        position: absolute;
        margin-top: 0;
        top: 31em;
        left: 17em;
        margin-left: 10px;
        background-color: green;
        border-radius: 50px;
        display: flex;
        border: 3px solid white;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        z-index: 99;
        cursor: pointer;

        & span {
            color: white;
            font-size: 45px;
        }
    }

    .user-detais {
        margin-top: 20px;
        & h2 {
            width: 100%;
            text-align: center;
        }
    }
}
.addressbtn{
    color: #FFB000;
    width: 100px;
    font-weight:600;
    font-size: 12px;
}
.addressbtn:hover{
    background-color: #FFB000;
    color: #fff;
}